<h1 class="my-5">Jesus Christ Superstar</h1>
<div class="container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="label fw-bold">Info</span></ng-template
      >
      <div class="mt-3 d-md-flex justify-content-center">
        <img
          src="https://static.qobuz.com/images/covers/22/94/0060255759422_600.jpg"
          alt="album"
        />
        <div>
          <p>
            <span class="fw-bold">Producer:</span> Tim Rice, Andrew Lloyd Webber
          </p>
          <h5 class="fs-5 mt-4">Album</h5>
          <p><span class="fw-bold">Released:</span> 27 October 1970</p>
          <p>
            <span class="fw-bold">Main players:</span> Ian Gillan, Murray Head,
            Yvonne Elliman, Victor Brox, Barry Dennen
          </p>
          <h5 class="fs-5 mt-4">Film</h5>
          <p><span class="fw-bold">Released:</span> 26 June 1973</p>
          <p><span class="fw-bold">Directed by:</span> Norman Jewison</p>
          <p>
            <span class="fw-bold">Main players:</span> Ted Neeley, Carl Anderson,
            Yvonne Elliman, Bob Bingham, Barry Dennen
          </p>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="label fw-bold">Tracklist</span></ng-template
      >
      <div class="d-flex justify-content-around">
        <div>
          <h5 class="fs-5 mt-3">CD 1</h5>
          <ol>
            <li>Overture</li>
            <li>Heaven on their minds</li>
            <li>What's the buzz / Strange thing mistifying</li>
            <li>Then we are decided</li>
            <li>Everything's allright</li>
            <li>This Jesus must die</li>
            <li>Hosanna</li>
            <li>Simon Zealotes</li>
            <li>Poor Jerusalem</li>
            <li>Pilate's dream</li>
            <li>The temple</li>
            <li>I don't know how to love him</li>
            <li>Damned for all time / Blood money</li>
          </ol>
        </div>
        <div>
          <h5 class="fs-5 mt-3">CD 2</h5>
          <ol>
            <li>The last supper</li>
            <li>Gethsemane</li>
            <li>The arrest</li>
            <li>Peter's denial</li>
            <li>Pilate and Christ</li>
            <li>King Herod's song</li>
            <li>Could we start again please</li>
            <li>Juda's death</li>
            <li>Trial befor Pilate</li>
            <li>Superstar</li>
            <li>The crucifixion</li>
            <li>John Nineteen: Forty-One</li>
          </ol>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="label fw-bold">Plot</span></ng-template
      >
      <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
        dicta! Officia, fugiat at. Labore quam deserunt tenetur nesciunt nam
        odit possimus tempora consectetur cum nemo, assumenda, odio magnam
        repudiandae laudantium accusantium dolor laborum voluptas ullam dolores
        soluta eveniet repellat aliquid praesentium? Nisi, saepe, expedita
        voluptatum cumque dolor quae ad quos quasi voluptas inventore doloribus
        quas iure id aliquam corrupti optio. Asperiores cum, ipsum accusantium
        dolorem iste nisi placeat quod ab sit tenetur, id soluta aliquid animi
        vitae consequuntur esse sapiente? Iste a doloribus consequatur hic
        aperiam incidunt autem architecto. Sunt perferendis, dolores ipsa a
        ratione porro explicabo obcaecati quasi sit ullam esse? Aspernatur
        asperiores ducimus sit eligendi eaque itaque quibusdam veritatis dolores
        repudiandae provident! Eaque dolores impedit facere molestias aperiam,
        officiis nulla ipsa neque qui. Iure id excepturi beatae quod earum,
        totam vel incidunt temporibus, molestiae nisi reprehenderit inventore
        eos maxime soluta et consectetur dicta laborum at, voluptatum voluptates
        facere?
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa explicabo
        aut numquam beatae laborum odit odio, quia nobis fuga fugiat aliquam
        voluptate corrupti repellendus. Cum exercitationem iste nulla ab
        perferendis officiis tempora ea itaque, pariatur praesentium, et beatae
        soluta quos in. Odit dolorem quae iure soluta? Beatae sint nisi
        distinctio labore voluptas laboriosam magni, libero, quos expedita
        repellat similique, qui fuga a provident. Ipsam, eligendi veritatis!
        Enim officiis fugit voluptates exercitationem delectus similique aliquid
        placeat dolores id sunt mollitia aut, consequuntur obcaecati veniam
        alias optio nulla at minus voluptatibus! Amet tempora, molestiae dicta
        modi saepe nobis architecto dolorum ipsa optio.
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
