.container-form {
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  align-items: center;
  background: #ffffffe9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
